<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1>여행지 날씨 정보</h1>
    <button class="button_login" onclick="location.href='/recommand_hwang'">추천 나라</button>
    <button class="button_login" onclick="location.href='/row'">추운나라</button>
    <button class="button_login" onclick="location.href='/hi'">더운나라</button>
    <button class="button_login" onclick="location.href='/detail_weather'">상세정보</button>
</body>
</html>

